# HAND-CRAFTED cassette: written from the response shapes app code parses, not recorded
# from the live service. Re-record with: pytest tests/test_external_price_apis.py --record-mode=rewrite
# (needs network; then re-check the test's expected values against the new data).
interactions:
- request:
    body: '{"conditions": [1], "languages": [1], "listingType": "All"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://mpapi.tcgplayer.com/v2/product/555005/latestsales?limit=3
  response:
    body:
      string: '{"previousPage":"","nextPage":"","resultCount":0,"totalResults":0,"data":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
