# HAND-CRAFTED cassette: written from the response shapes app code parses, not recorded
# from the live service. Re-record with: pytest tests/test_external_price_apis.py --record-mode=rewrite
# (needs network; then re-check the test's expected values against the new data).
interactions:
- request:
    body: '{"conditions": [1], "languages": [1], "listingType": "All"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://mpapi.tcgplayer.com/v2/product/555003/latestsales?limit=10
  response:
    body:
      string: '{"previousPage":"","nextPage":"","resultCount":12,"totalResults":12,"data":[{"condition":"Near
        Mint","variant":"Normal","language":"English","quantity":1,"title":"Monkey.D.Luffy","listingType":"ListingWithoutPhotos","customListingId":"","purchasePrice":20.0,"shippingPrice":1.0,"orderDate":"2026-05-20T10:00:00+00:00"},{"condition":"Near
        Mint","variant":"Normal","language":"English","quantity":1,"title":"Monkey.D.Luffy","listingType":"ListingWithoutPhotos","customListingId":"","purchasePrice":19.0,"shippingPrice":1.0,"orderDate":"2026-05-19T10:00:00+00:00"},{"condition":"Near
        Mint","variant":"Normal","language":"English","quantity":1,"title":"Monkey.D.Luffy","listingType":"ListingWithoutPhotos","customListingId":"","purchasePrice":18.0,"shippingPrice":1.0,"orderDate[...]
